<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Confirmation Page</title>
  <link rel="stylesheet" href="../styles/confirm.css">
  <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Coda:800|Gravitas+One|Sigmar+One" rel="stylesheet">
  </head>
<body>
  <h2>Your trade has been confirmed!</h2>
  <p>{{logged.first_name}}'s mailing address is {{logged.mailing_address}}.
    Please ship your product to this address and contact.
    You can contact {{logged.first_name}} at {{logged.email}}.</p>


    <form  method="POST">
    <input type="submit" value="Go Back to Home">
  </form>

</body>
</html>
