<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Create Account Page</title>
  <link rel="stylesheet" href="../styles/creation.css">
</head>
<body>
  <div class="creation-header">
    <h1>Super Duper Shirts</h1>
  </div>
  <div id="username-popup" class="username-container">
    <form method="post" class="username-form">
      <label>Create Account</label>
      <br>
      <input type="text" name="email" placeholder="Email" value=""> <br>
      <input type="password" name="password" placeholder="Password" value=""><br>
      <input type="text" name="mailing_address" placeholder="Mailing address" value=""><br>
      <input type="text" name="first_name" placeholder="First name" value=""><br>
      <input type="text" name="last_name" placeholder="Last name" value=""> <br>
      <br>
      <input type="submit" name="create_btn" value="Submit">
    </form>
  </div>
  <div id="signup-popup" class="signup-container">
    <form method="post" class="username-form">
      <label>Click here to go back to login</label>
      <input type="Submit" name= "back_btn" value="Go Back">
    </form>
  </div>
</body>
</head>
</html>
