<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="../styles/creation.css">
</head>
<body>
<div class="creation-header">
  <h1>Super Shirts!</h1>
</div>

<div id="username-popup" class="username-container">
  <form method="post" class="username-form"
    <label>Creation</label>
    <br>
    <input type="text" name="email" placeholder="email" value=""> <br>
    <input type="text" name="password" placeholder="password" value=""><br>
    <input type="text" name="mailing_address" placeholder="mailing_address" value=""><br>
    <input type="text" name="first_name" placeholder="first_name" value=""><br>
    <input type="text" name="last_name" placeholder="last_name" value=""> <br>
    <input type="submit" name="create_btn" value="Submit">
  </form>
  <form>
    <div id="signup-popup" class="signup-container">
      <form method="post" class="username-form"
        <label>Click here to go back to login</label>
        <input type="Submit" name= "back_btn" value="Go Back">

</div>
    </body>
  </head>








  </html>
