<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
<div class="login-header">
  <h1>Super Shirts!</h1>
</div>

<div id="login-div" style="background-image:url(../BankApp.html);">

</div>

<div id="username-popup" class="username-container">
  <form method="post" class="username-form"
    <label>Login</label>
    <input type="text" name="username" placeholder="username" value="">
    <input type="text" name="password" placeholder="password" value="">
    <input type="submit" value="Submit">
  </form>
</div>





    </body>
  </head>
  </html>
