<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
<div class="login-header">
  <h1>Super Shirts!</h1>

<div id="username-popup" class="username-container">
  <form method="post" class="username-form"
    <label>Login</label>
    <br>
    <input type="text" name="username" placeholder="username" value="">
    <input type="text" name="password" placeholder="password" value="">
    <br>
    <input type="submit" value="Login">
  </form>
  <form>
    <div id="signup-popup" class="signup-container">
      <form method="post" class="username-form"
        <label>Click here to sign up</label>
        <input type="Submit" value="Signup">

</div>
    </body>
  </head>

</html>
