<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../styles/marketplace.css">

  <ul class="breadcrumb">
    <li><a href="/welcome?current_user={{token}}">Home</a></li>
    <li>marketplace</li>
  </ul>

</head>
<body>

  <form method="post">

    <h2>Search the marketplace!</h2>
    <form method="post" enctype="multipart/form-data" >

      Size:
      <select name="size">
        <option value="Any">Any</option>
        <option value="XXS">XXS</option>
        <option value="XS">XS</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
        <option value="XXL">XXL</option>
      </select>
      Color:
      <select name="color">
        <option value="Any">Any</option>
        <option value="Brown">Brown</option>
        <option value="Yellow">Yellow</option>
        <option value="Red">Red</option>
        <option value="Black">Black</option>
        <option value="Grey">Grey</option>
        <option value="Pink">Pink</option>
        <option value="Blue">Blue</option>
        <option value="Green">Green</option>
        <option value="Purple">Purple</option>
        <option value="White">White</option>
        <option value="Orange">Orange</option>
      </select>
      Neck Type:
      <select name="neck_type">
        <option value="Any">Any</option>
        <option value="Crew">Crew</option>
        <option value="V-neck">V-neck</option>
      </select>
      Sleeve Type:
      <select name="sleeve_type">
        <option value="Any">Any</option>
        <option value="Long">Long</option>
        <option value="Short">Short</option>
      </select>
      College:
      <select name="college">
        <option value="Any">Any</option>
        <option value="Adelphi University">Adelphi University</option>
        <option value="Agnes Scott College">Agnes Scott College</option>
        <option value="University of Alabama">University of Alabama</option>
        <option value="University of Alabama Birmingham">University of Alabama Birmingham</option>
        <option value="University of Alabama Huntsville">University of Alabama Huntsville</option>
        <option value="Albion College">Albion College</option>
        <option value="Albright College">Albright College</option>
        <option value="Alfred University">Alfred University</option>
        <option value="Allegheny College">Allegheny College</option>
        <option value="Amherst College">Amherst College</option>
        <option value="American International College">American International College</option>
        <option value="American University">American University</option>
        <option value="Antioch College">Antioch College</option>
        <option value="University of Arizona">University of Arizona</option>
        <option value="Arizona State University">Arizona State University</option>
        <option value="University of Arkansas">University of Arkansas</option>
        <option value="Assumption College">Assumption College</option>
        <option value="College of the Atlantic">College of the Atlantic</option>
        <option value="Auburn University">Auburn University</option>
        <option value="Austin College">Austin College</option>
        <option value="Ball State University">Ball State University</option>
        <option value="Babson College">Babson College</option>
        <option value="Bard College">Bard College</option>
        <option value="Barnard College">Barnard College</option>
        <option value="Baruch College">Baruch College</option>
        <option value="City University of New York">City University of New York</option>
        <option value="Bates College">Bates College</option>
        <option value="Baylor University">Baylor University</option>
        <option value="Belmont University">Belmont University</option>
        <option value="Beloit College">Beloit College</option>
        <option value="Bennington College">Bennington College</option>
        <option value="Bentley University">Bentley University</option>
        <option value="Berea College">Berea College</option>
        <option value="Birmingham Southern College">Birmingham Southern College</option>
        <option value="Boston College">Boston College</option>
        <option value="Boston University">Boston University</option>
        <option value="Cal Poly">Cal Poly</option>
        <option value="Pomona">Pomona</option>
        <option value="Cal Poly San Luis Obispo">Cal Poly San Luis Obispo</option>
        <option value="University of California - Berkeley">University of California - Berkeley</option>
        <option value="University of California - Davis">University of California - Davis</option>
        <option value="University of California - Irvine">University of California - Irvine</option>
        <option value="University of California - Los Angeles">University of California - Los Angeles</option>
        <option value="University of California - Merced">University of California - Merced</option>
        <option value="University of California - Riverside">University of California - Riverside</option>
        <option value="University of California - San Diego">University of California - San Diego</option>
        <option value="University of California - Santa Barbara">University of California - Santa Barbara</option>
        <option value="University of California - Santa Cruz">University of California - Santa Cruz</option>
        <option value="California Institute of Technology">California Institute of Technology</option>
        <option value="California Lutheran University">California Lutheran University</option>
        <option value="California State University - Fresno">California State University - Fresno</option>
        <option value="California State University - Fullerton">California State University - Fullerton</option>
        <option value="California State University - Long Beach">California State University - Long Beach</option>
        <option value="California State University - Los Angeles">California State University - Los Angeles</option>
        <option value="California State University - Monterey Bay">California State University - Monterey Bay</option>
        <option value="California State University - Northridge">California State University - Northridge</option>
        <option value="Carleton College">Carleton College</option>
        <option value="Carnegie Mellon University">Carnegie Mellon University</option>
        <option value="Carroll College">Carroll College</option>
        <option value="Case Western Reserve University">Case Western Reserve University</option>
        <option value="Catholic University of America">Catholic University of America</option>
        <option value="Central Connecticut State University">Central Connecticut State University</option>
        <option value="University of Central Florida">University of Central Florida</option>
        <option value="Centre College">Centre College</option>
        <option value="Champlain College">Champlain College</option>
        <option value="Chapman University">Chapman University</option>
        <option value="University of Chicago">University of Chicago</option>
        <option value="Christopher Newport University">Christopher Newport University</option>
        <option value="University of Cincinnati">University of Cincinnati</option>
        <option value="City College of New York">City College of New York</option>
        <option value="Claremont McKenna College">Claremont McKenna College</option>
        <option value="Clark University">Clark University</option>
        <option value="Clarkson University">Clarkson University</option>
        <option value="Clemson University">Clemson University</option>
        <option value="Coe College">Coe College</option>
        <option value="Colby College">Colby College</option>
        <option value="Colgate University">Colgate University</option>
        <option value="College of Charleston">College of Charleston</option>
        <option value="University of Colorado">University of Colorado</option>
        <option value="Colorado College">Colorado College</option>
        <option value="Colorado School of Mines">Colorado School of Mines</option>
        <option value="Colorado State University">Colorado State University</option>
        <option value="Columbia University">Columbia University</option>
        <option value="University of Connecticut">University of Connecticut</option>
        <option value="Connecticut College">Connecticut College</option>
        <option value="Cooper Union">Cooper Union</option>
        <option value="Cornell College">Cornell College</option>
        <option value="Cornell University">Cornell University</option>
        <option value="Creighton University">Creighton University</option>
        <option value="Dartmouth College">Dartmouth College</option>
        <option value="Davidson College">Davidson College</option>
        <option value="University of Dayton">University of Dayton</option>
        <option value="Deep Springs College">Deep Springs College</option>
        <option value="University of Delaware">University of Delaware</option>
        <option value="Denison University">Denison University</option>
        <option value="University of Denver">University of Denver</option>
        <option value="DePaul University">DePaul University</option>
        <option value="DePauw University">DePauw University</option>
        <option value="Dickinson College">Dickinson College</option>
        <option value="Dominican University of California">Dominican University of California</option>
        <option value="Drew University">Drew University</option>
        <option value="Drexel University">Drexel University</option>
        <option value="Duke University">Duke University</option>
        <option value="Duquesne University">Duquesne University</option>
        <option value="East Carolina University">East Carolina University</option>
        <option value="Earlham College">Earlham College</option>
        <option value="Eckerd College">Eckerd College</option>
        <option value="Elon University">Elon University</option>
        <option value="Elizabethtown College">Elizabethtown College</option>
        <option value="Embry-Riddle">Embry-Riddle</option>
        <option value="Emerson College">Emerson College</option>
        <option value="Emory University">Emory University</option>
        <option value="Fairfield University">Fairfield University</option>
        <option value="Fairleigh Dickinson University">Fairleigh Dickinson University</option>
        <option value="Fashion Institute of Technology">Fashion Institute of Technology</option>
        <option value="Fisk University">Fisk University</option>
        <option value="Flagler College">Flagler College</option>
        <option value="University of Florida">University of Florida</option>
        <option value="Florida A&M University">Florida A&M University</option>
        <option value="Florida Atlantic University">Florida Atlantic University</option>
        <option value="Florida Institute of Technology">Florida Institute of Technology</option>
        <option value="Florida International University">Florida International University</option>
        <option value="Florida State University">Florida State University</option>
        <option value="Fordham University">Fordham University</option>
        <option value="Franklin & Marshall College">Franklin & Marshall College</option>
        <option value="Furman University">Furman University</option>
        <option value="George Mason University">George Mason University</option>
        <option value="George Washington University">George Washington University</option>
        <option value="Georgetown University">Georgetown University</option>
        <option value="University of Georgia">University of Georgia</option>
        <option value="Georgia Institute of Technology">Georgia Institute of Technology</option>
        <option value="Georgia State University">Georgia State University</option>
        <option value="Gettysburg College">Gettysburg College</option>
        <option value="Goddard College">Goddard College</option>
        <option value="Golden Gate University">Golden Gate University</option>
        <option value="Gonzaga University">Gonzaga University</option>
        <option value="Goucher College">Goucher College</option>
        <option value="Grinnell College">Grinnell College</option>
        <option value="Grove City College">Grove City College</option>
        <option value="Gustavus Adolphus College">Gustavus Adolphus College</option>
        <option value="Hanover College">Hanover College</option>
        <option value="Hamilton College">Hamilton College</option>
        <option value="Hampden-Sydney College">Hampden-Sydney College</option>
        <option value="Hampshire College">Hampshire College</option>
        <option value="Hampton University">Hampton University</option>
        <option value="University of Hartford">University of Hartford</option>
        <option value="Hartwick College">Hartwick College</option>
        <option value="Harvard University">Harvard University</option>
        <option value="Harvey Mudd College">Harvey Mudd College</option>
        <option value="Haverford College">Haverford College</option>
        <option value="Hendrix College">Hendrix College</option>
        <option value="High Point University">High Point University</option>
        <option value="Hillsdale College">Hillsdale College</option>
        <option value="Hiram College">Hiram College</option>
        <option value="Hobart and William Smith Colleges">Hobart and William Smith Colleges</option>
        <option value="Hofstra University">Hofstra University</option>
        <option value="Hollins University">Hollins University</option>
        <option value="College of the Holy Cross">College of the Holy Cross</option>
        <option value="Hope College">Hope College</option>
        <option value="University of Houston">University of Houston</option>
        <option value="Howard University">Howard University</option>
        <option value="Humboldt State University">Humboldt State University</option>
        <option value="University of Illinois - Chicago">University of Illinois - Chicago</option>
        <option value="University of Illinois - Urbana-Champaign">University of Illinois - Urbana-Champaign</option>
        <option value="Indiana University - Bloomington">Indiana University - Bloomington</option>
        <option value="Indiana University of Pennsylvania">Indiana University of Pennsylvania</option>
        <option value="Indiana University-Purdue University Indianapolis">Indiana University-Purdue University Indianapolis</option>
        <option value="Indiana University - South Bend">Indiana University - South Bend</option>
        <option value="University of Iowa">University of Iowa</option>
        <option value="Iowa State University">Iowa State University</option>
        <option value="Illinois Wesleyan University">Illinois Wesleyan University</option>
        <option value="Illinois Institute of Technology">Illinois Institute of Technology</option>
        <option value="Ithaca College">Ithaca College</option>
        <option value="James Madison University">James Madison University</option>
        <option value="Johns Hopkins University">Johns Hopkins University</option>
        <option value="The Juilliard School">The Juilliard School</option>
        <option value="Juniata College">Juniata College</option>
        <option value="Kalamazoo College">Kalamazoo College</option>
        <option value="University of Kansas">University of Kansas</option>
        <option value="Kansas State University">Kansas State University</option>
        <option value="Kent State University">Kent State University</option>
        <option value="University of Kentucky">University of Kentucky</option>
        <option value="Kenyon College">Kenyon College</option>
        <option value="Knox College">Knox College</option>
        <option value="Lafayette College">Lafayette College</option>
        <option value="Lake Forest College">Lake Forest College</option>
        <option value="LaSalle University">LaSalle University</option>
        <option value="Lawrence University">Lawrence University</option>
        <option value="Lehigh University">Lehigh University</option>
        <option value="Lewis & Clark College">Lewis & Clark College</option>
        <option value="Linfield College">Linfield College</option>
        <option value="Louisiana State University">Louisiana State University</option>
        <option value="University of Louisville">University of Louisville</option>
        <option value="Loyola University of Chicago">Loyola University of Chicago</option>
        <option value="Loyola University - Maryland">Loyola University - Maryland</option>
        <option value="Loyola University - New Orleans">Loyola University - New Orleans</option>
        <option value="Loyola Marymount University">Loyola Marymount University</option>
        <option value="University of Lynchburg">University of Lynchburg</option>
        <option value="Macalester College">Macalester College</option>
        <option value="University of Maine">University of Maine</option>
        <option value="Manhattan College">Manhattan College</option>
        <option value="Manhattanville College">Manhattanville College</option>
        <option value="Marietta College">Marietta College</option>
        <option value="Marist College">Marist College</option>
        <option value="Marlboro College">Marlboro College</option>
        <option value="Marquette University">Marquette University</option>
        <option value="University of Mary Washington">University of Mary Washington</option>
        <option value="University of Maryland - Baltimore County">University of Maryland - Baltimore County</option>
        <option value="University of Maryland - College Park">University of Maryland - College Park</option>
        <option value="Marymount Manhattan College">Marymount Manhattan College</option>
        <option value="University of Massachusetts - Amherst">University of Massachusetts - Amherst</option>
        <option value="University of Massachusetts - Boston">University of Massachusetts - Boston</option>
        <option value="Massachusetts Institute of Technology">Massachusetts Institute of Technology</option>
        <option value="McGill University">McGill University</option>
        <option value="Mercer University">Mercer University</option>
        <option value="Merrimack College">Merrimack College</option>
        <option value="University of Miami - Florida">University of Miami - Florida</option>
        <option value="Miami University - Ohio">Miami University - Ohio</option>
        <option value="University of Michigan">University of Michigan</option>
        <option value="Michigan State University">Michigan State University</option>
        <option value="Michigan Technological University">Michigan Technological University</option>
        <option value="Middlebury College">Middlebury College</option>
        <option value="Mills College">Mills College</option>
        <option value="Millsaps College">Millsaps College</option>
        <option value="University of Minnesota">University of Minnesota</option>
        <option value="University of Mississippi">University of Mississippi</option>
        <option value="Mississippi State University">Mississippi State University</option>
        <option value="University of Missouri - Columbia">University of Missouri - Columbia</option>
        <option value="University of Missouri - Kansas City">University of Missouri - Kansas City</option>
        <option value="Missouri University of Science and Technology">Missouri University of Science and Technology</option>
        <option value="Monmouth University">Monmouth University</option>
        <option value="University of Montana">University of Montana</option>
        <option value="Montclair State University">Montclair State University</option>
        <option value="Moravian College">Moravian College</option>
        <option value="Morehouse College">Morehouse College</option>
        <option value="Mount Holyoke College">Mount Holyoke College</option>
        <option value="Muhlenberg College">Muhlenberg College</option>
        <option value="University of Nebraska">University of Nebraska</option>
        <option value="University of Nevada">University of Nevada</option>
        <option value="New College of Florida">New College of Florida</option>
        <option value="New England College">New England College</option>
        <option value="University of New Hampshire">University of New Hampshire</option>
        <option value="University of New Haven">University of New Haven</option>
        <option value="The College of New Jersey">The College of New Jersey</option>
        <option value="New Jersey Institute of Technology">New Jersey Institute of Technology</option>
        <option value="New Mexico Institute of Mining & Technology">New Mexico Institute of Mining & Technology</option>
        <option value="University of New Mexico">University of New Mexico</option>
        <option value="University of New Orleans">University of New Orleans</option>
        <option value="New York University">New York University</option>
        <option value="University of North Carolina - Asheville">University of North Carolina - Asheville</option>
        <option value="University of North Carolina - Chapel Hill">University of North Carolina - Chapel Hill</option>
        <option value="University of North Carolina - Charlotte">University of North Carolina - Charlotte</option>
        <option value="University of North Carolina - Greensboro">University of North Carolina - Greensboro</option>
        <option value="University of North Carolina - Wilmington">University of North Carolina - Wilmington</option>
        <option value="North Carolina School of the Arts">North Carolina School of the Arts</option>
        <option value="North Carolina State University">North Carolina State University</option>
        <option value="University of North Dakota">University of North Dakota</option>
        <option value="University of North Florida">University of North Florida</option>
        <option value="Northeastern University">Northeastern University</option>
        <option value="Northern Arizona University">Northern Arizona University</option>
        <option value="Northwestern University">Northwestern University</option>
        <option value="University of Notre Dame">University of Notre Dame</option>
        <option value="Oberlin College">Oberlin College</option>
        <option value="Occidental College">Occidental College</option>
        <option value="Oglethorpe University">Oglethorpe University</option>
        <option value="Ohio University">Ohio University</option>
        <option value="Ohio Northern University">Ohio Northern University</option>
        <option value="Ohio State University">Ohio State University</option>
        <option value="Ohio Wesleyan University">Ohio Wesleyan University</option>
        <option value="University of Oklahoma">University of Oklahoma</option>
        <option value="Oklahoma State University">Oklahoma State University</option>
        <option value="Old Dominion University">Old Dominion University</option>
        <option value="Olin College">Olin College</option>
        <option value="University of Oregon">University of Oregon</option>
        <option value="Oregon State University">Oregon State University</option>
        <option value="Pace University">Pace University</option>
        <option value="University of the Pacific">University of the Pacific</option>
        <option value="Parsons School of Design">Parsons School of Design</option>
        <option value="Penn State">Penn State</option>
        <option value="University of Pennsylvania">University of Pennsylvania</option>
        <option value="Pepperdine University">Pepperdine University</option>
        <option value="Philadelphia University">Philadelphia University</option>
        <option value="University of Pittsburgh">University of Pittsburgh</option>
        <option value="Pitzer College">Pitzer College</option>
        <option value="Pomona College">Pomona College</option>
        <option value="Pratt Institute">Pratt Institute</option>
        <option value="Princeton University">Princeton University</option>
        <option value="Providence College">Providence College</option>
        <option value="University of Puget Sound">University of Puget Sound</option>
        <option value="Purdue University">Purdue University</option>
        <option value="Queens University - Kingston, Ontario">Queens University - Kingston, Ontario</option>
        <option value="Quinnipiac University">Quinnipiac University</option>
        <option value="Randolph College">Randolph College</option>
        <option value="Randolph-Macon College">Randolph-Macon College</option>
        <option value="University of Redlands">University of Redlands</option>
        <option value="Reed College">Reed College</option>
        <option value="Regis University">Regis University</option>
        <option value="Rensselaer Polytechnic Institute">Rensselaer Polytechnic Institute</option>
        <option value="University of Rhode Island">University of Rhode Island</option>
        <option value="Rhode Island School of Design">Rhode Island School of Design</option>
        <option value="Rhodes College">Rhodes College</option>
        <option value="Rice University">Rice University</option>
        <option value="University of Richmond">University of Richmond</option>
        <option value="Rider University">Rider University</option>
        <option value="Ripon College">Ripon College</option>
        <option value="University of Rochester">University of Rochester</option>
        <option value="Rochester Institute of Technology">Rochester Institute of Technology</option>
        <option value="Rollins College">Rollins College</option>
        <option value="Rose-Hulman Institute of Technology">Rose-Hulman Institute of Technology</option>
        <option value="Rowan University">Rowan University</option>
        <option value="Rutgers University">Rutgers University</option>
        <option value="Sacred Heart University">Sacred Heart University</option>
        <option value="College of Saint Benedict and Saint John's University">College of Saint Benedict and Saint John's University</option>
        <option value="St. Bonaventure University">St. Bonaventure University</option>
        <option value="St. John's College - Maryland">St. John's College - Maryland</option>
        <option value="St. John's College - New Mexico">St. John's College - New Mexico</option>
        <option value="St. John's University (New York)">St. John's University (New York)</option>
        <option value="Saint Joseph's University">Saint Joseph's University</option>
        <option value="St. Lawrence University">St. Lawrence University</option>
        <option value="Saint Louis University">Saint Louis University</option>
        <option value="Saint Mary's College of California">Saint Mary's College of California</option>
        <option value="St. Mary's College of Maryland">St. Mary's College of Maryland</option>
        <option value="Saint Mary's College - Notre Dame">Saint Mary's College - Notre Dame</option>
        <option value="Saint Michael's College">Saint Michael's College</option>
        <option value="Saint Olaf College">Saint Olaf College</option>
        <option value="Salisbury University">Salisbury University</option>
        <option value="Salve Regina University">Salve Regina University</option>
        <option value="Samford University">Samford University</option>
        <option value="University of San Diego">University of San Diego</option>
        <option value="San Diego State University">San Diego State University</option>
        <option value="San Francisco State University">San Francisco State University</option>
        <option value="University of San Francisco">University of San Francisco</option>
        <option value="San Jose State University">San Jose State University</option>
        <option value="Santa Clara University">Santa Clara University</option>
        <option value="Sarah Lawrence College">Sarah Lawrence College</option>
        <option value="Savannah College of Art and Design">Savannah College of Art and Design</option>
        <option value="School of Visual Arts">School of Visual Arts</option>
        <option value="University of Scranton">University of Scranton</option>
        <option value="Saint Anselm College">Saint Anselm College</option>
        <option value="Scripps College">Scripps College</option>
        <option value="Seattle University">Seattle University</option>
        <option value="Seton Hall University">Seton Hall University</option>
        <option value="Sewanee: The University of the South">Sewanee: The University of the South</option>
        <option value="Shimer College">Shimer College</option>
        <option value="Siena College">Siena College</option>
        <option value="Simmons College">Simmons College</option>
        <option value="Simon's Rock College of Bard">Simon's Rock College of Bard</option>
        <option value="Skidmore College">Skidmore College</option>
        <option value="Smith College">Smith College</option>
        <option value="Soka University of America">Soka University of America</option>
        <option value="Sonoma State University">Sonoma State University</option>
        <option value="University of South Carolina">University of South Carolina</option>
        <option value="University of South Florida">University of South Florida</option>
        <option value="University of Southern California">University of Southern California</option>
        <option value="Southern Methodist University">Southern Methodist University</option>
        <option value="Southwestern University">Southwestern University</option>
        <option value="Spelman College">Spelman College</option>
        <option value="Stanford University">Stanford University</option>
        <option value="Stephens College">Stephens College</option>
        <option value="Stetson University">Stetson University</option>
        <option value="Stevens Institute of Technology">Stevens Institute of Technology</option>
        <option value="Stevenson University">Stevenson University</option>
        <option value="Stonehill College">Stonehill College</option>
        <option value="SUNY at Albany">SUNY at Albany</option>
        <option value="SUNY at Binghamton">SUNY at Binghamton</option>
        <option value="SUNY at Buffalo">SUNY at Buffalo</option>
        <option value="SUNY at Geneseo">SUNY at Geneseo</option>
        <option value="SUNY at Purchase">SUNY at Purchase</option>
        <option value="SUNY at Stony Brook">SUNY at Stony Brook</option>
        <option value="Susquehanna University">Susquehanna University</option>
        <option value="Swarthmore College">Swarthmore College</option>
        <option value="Sweet Briar College">Sweet Briar College</option>
        <option value="Syracuse University">Syracuse University</option>
        <option value="University of Tampa">University of Tampa</option>
        <option value="Temple University">Temple University</option>
        <option value="University of Tennessee">University of Tennessee</option>
        <option value="The University of Texas at Austin">The University of Texas at Austin</option>
        <option value="Texas A&M University">Texas A&M University</option>
        <option value="Texas Christian University">Texas Christian University</option>
        <option value="Texas Tech University">Texas Tech University</option>
        <option value="The University of Texas at Dallas">The University of Texas at Dallas</option>
        <option value="The University of Texas">The University of Texas</option>
        <option value="Thomas Aquinas College - California">Thomas Aquinas College - California</option>
        <option value="University of Toronto">University of Toronto</option>
        <option value="Towson University">Towson University</option>
        <option value="Trinity College (Connecticut)">Trinity College (Connecticut)</option>
        <option value="Trinity University (Texas)">Trinity University (Texas)</option>
        <option value="Truman State University">Truman State University</option>
        <option value="Tufts University">Tufts University</option>
        <option value="Tulane University">Tulane University</option>
        <option value="University of Tulsa">University of Tulsa</option>
        <option value="Tuskegee University">Tuskegee University</option>
        <option value="Union College - New York">Union College - New York</option>
        <option value="United States Air Force Academy">United States Air Force Academy</option>
        <option value="United States Coast Guard Academy">United States Coast Guard Academy</option>
        <option value="United States Merchant Marine Academy">United States Merchant Marine Academy</option>
        <option value="United States Military Academy">United States Military Academy</option>
        <option value="United States Naval Academy">United States Naval Academy</option>
        <option value="University of the Sciences in Philadelphia">University of the Sciences in Philadelphia</option>
        <option value="Ursinus College">Ursinus College</option>
        <option value="Ursuline College">Ursuline College</option>
        <option value="University of Utah">University of Utah</option>
        <option value="Valparaiso University">Valparaiso University</option>
        <option value="Vanderbilt University">Vanderbilt University</option>
        <option value="Vassar College">Vassar College</option>
        <option value="University of Vermont">University of Vermont</option>
        <option value="Villanova University">Villanova University</option>
        <option value="University of Virginia">University of Virginia</option>
        <option value="Virginia Commonwealth University">Virginia Commonwealth University</option>
        <option value="Virginia Tech">Virginia Tech</option>
        <option value="Virginia Wesleyan College">Virginia Wesleyan College</option>
        <option value="Wabash College">Wabash College</option>
        <option value="Wagner College">Wagner College</option>
        <option value="Wake Forest University">Wake Forest University</option>
        <option value="Warren Wilson College">Warren Wilson College</option>
        <option value="University of Washington">University of Washington</option>
        <option value="Washington and Lee University">Washington and Lee University</option>
        <option value="Washington College">Washington College</option>
        <option value="Washington State University">Washington State University</option>
        <option value="Washington University in St. Louis">Washington University in St. Louis</option>
        <option value="University of Waterloo">University of Waterloo</option>
        <option value="Webb Institute">Webb Institute</option>
        <option value="Wellesley College">Wellesley College</option>
        <option value="Wells College">Wells College</option>
        <option value="Wesleyan College">Wesleyan College</option>
        <option value="Wesleyan University">Wesleyan University</option>
        <option value="West Virginia University">West Virginia University</option>
        <option value="Western Michigan University">Western Michigan University</option>
        <option value="Western Washington University">Western Washington University</option>
        <option value="Westminster College - Pennsylvania">Westminster College - Pennsylvania</option>
        <option value="Wheaton College - Illinois">Wheaton College - Illinois</option>
        <option value="Wheaton College - Massachusetts">Wheaton College - Massachusetts</option>
        <option value="Whitman College">Whitman College</option>
        <option value="Whittier College">Whittier College</option>
        <option value="College of William and Mary">College of William and Mary</option>
        <option value="Willamette University">Willamette University</option>
        <option value="William Jewell College">William Jewell College</option>
        <option value="Williams College">Williams College</option>
        <option value="University of Wisconsin">University of Wisconsin</option>
        <option value="Wittenberg University">Wittenberg University</option>
        <option value="Wofford College">Wofford College</option>
        <option value="College of Wooster">College of Wooster</option>
        <option value="Worcester Polytechnic Institute">Worcester Polytechnic Institute</option>
        <option value="Wright State University">Wright State University</option>
        <option value="University of Wyoming">University of Wyoming</option>
        <option value="Yale University">Yale University</option>
        <option value="Yeshiva University">Yeshiva University</option>
        <option value="Xavier University">Xavier University</option>


      </select>
      <br>
      <input type="submit" value="Search" name="search_btn" >

    </form>
    <br>

  <div class="images">
    <form  method="post">
      {% for i in items %}
      <input type="image" name="tag" value="{{i.id}}" src="/img?img_id={{i.key.urlsafe()}}" border="0" alt="submit"/>
      {% endfor %}
    </form>

  </div>

  <style>
  .images{ display:inline-block;}
</style>


</body></html>
