<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Status Page</title>
  <link rel="stylesheet" href="../styles/status.css">
  <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Coda:800|Gravitas+One|Sigmar+One" rel="stylesheet">
  </head>
<body>
  <h5>Your Requested Items</h5>

      {% for item in requests %}

        {{item.college}}

      {% endfor %}

  <h5>Your Offers</h5>

      {% for item in offers %}



            <a href="http://localhost:8080/reply?current_user={{item.tokens}}&id={{item.id}}">{{item.college}} shirt
            </a><br>


      {% endfor %}

</body>
</html>
