form {
  margin: 0 auto;
  width:250px;
}

body {
  background-color: azure;
  margin: 0 auto;
  max-width: 600px;
  background-image: url("../images/background17.jpg");
  background-size: cover;
}

h1{
  font: 1.2em , serif;
  border: 12mm
  color: black;
  margin: 0 auto;
  font-family: 'Sigmar One';
  font-variant: small-caps;
  width:340px;
}

.username-container{
  padding: px;
  font: 1.2em , serif;
  border: 6mm
  color: black;
  margin: 30px;
  font-family: 'Sigmar One';
  font-variant: small-caps;
}

.signup-container{
  padding: 34px;
  font: serif;
  border: 6mm
  color: black;
  margin: 30px;
  font-family: 'Sigmar One';
  font-variant: small-caps;
}

.creation-header{
  padding: px;
  font: 1.2em , serif;
  border: 6mm
  color: black;
  margin: 9px;
  font-family: 'Sigmar One';
  font-variant: small-caps;
}

[type=text] {
  background-color: #f2f2f2;
  border-bottom: 1px solid black;
  border-style: hidden hidden inset hidden;
}

[type=password] {
  background-color: #f2f2f2;
  border-bottom: 1px solid black;
  border-style: hidden hidden inset hidden;
}

[type=submit] {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 23px;
  text-decoration: none;
  margin: 6px 2px;
  cursor: pointer;
}
