body {
  background-color: azure;
  margin: 0 auto;
  max-width: 600px;
  background-image: url("../images/background1.jpg");

}

.login-header {
  padding: 20px;
  font: small-caps bold 24px/1 sans-serif;
  border: 6mm
  color: black;
  border-color: red;
  border-style: ridge;
  border-width: 6mm;
  border-radius: 25px;
  margin: 30px;
  background: white;
  border: aliceblue
  outline-offset: 15px;

}

.login-header h1 {
  color: black;
  font-weight: bold;
  margin: 0;
  font-family: inherit;
}

h2 {
  color: white;
  font-weight: 500;
  margin: 0;
  padding: 15px 200px;
}

.email-container {
  padding: 30px 10px;
}

.signup-container {
  color: black;
  margin: 10px;
  padding: inherit;
}

.email-form {
  color: black;
  font-weight: bold 00;
  margin: auto;
  padding: px;

}
