body {
  background-color: azure;
  margin: 0 auto;
  max-width: 600px;
}

.login-header {
  padding: 150px 200px;

}

.login-header h1 {
  color: black;
  font-weight: bold;
  margin: 0;
  font-family: inherit;
}

h2 {
  color: white;
  font-weight: 500;
  margin: 0;
  padding: 15px 200px;
}

.email-container {
  padding: 30px 10px;
}

.signup-container {
  color: black;
  margin: 10px;
  padding: inherit;
}
