body {
  background-color: white;
  margin: 0 auto;
  max-width: 600px;
}

.login-header {
  padding: 150px 200px;

}

.login-header h1 {
  color: black;
  font-weight: normal;
  margin: 0;
  font-family: fantasy;
}

h2 {
  color: white;
  font-weight: 500;
  margin: 0;
  padding: 15px 200px;
}

.username-container {
  padding: 30px 200px;
}

.signup-container {
  color: blue;
  margin: 0;
  padding: 10px 40px
}

.transactions-container h3 {
  color: lightgrey;
  font-weight: 400;
  margin: 0;

}

.transaction {
  color: white;
  font-weight: 100;
  margin-top: 15px;
}

.transaction > label {
    margin: 0 10px;
}

.transaction-form-container {
  background-color: #efff00;
  border: 1px solid #da0f0f;
  margin-top: 10px;
  padding:15px;
}
