body {
  background-image: url("../images/background28.jpeg");
  background-size: cover;
  background-color: #f2f2f2;
}

[name=size] {
  color: black;
  border: none;
  padding: 10px 23px;
  text-decoration: none;
  margin: 6px 2px;
  cursor: pointer;
  background-color: #f2f2f2;
}

[name=color] {
  background-color: white;
  border: none;
  padding: 10px 23px;
  text-decoration: none;
  margin: 6px 2px;
  cursor: pointer;
}

[name=neck_type] {
  background-color: white;
  border: none;
  padding: 10px 23px;
  text-decoration: none;
  margin: 6px 2px;
  cursor: pointer;
}

[name=sleeve_type] {
  background-color: white;
  border: none;
  padding: 10px 23px;
  text-decoration: none;
  margin: 6px 2px;
  cursor: pointer;
}

[name=college] {
  background-color: white;
  border: none;
  padding: 10px 23px;
  text-decoration: none;
  margin: 6px 2px;
  cursor: pointer;
}






























/*
.parallax{
  background-image: url("../images/background17.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
/*
.parallax-container {
     height: 500px;
   } */
