
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;

  body {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 500px;
    background-image: url("../images/background29.jpg");
    background-size: cover
  }

  form {
    margin: 0 auto;
    width:250px;
  }

  .login-header {
    padding: 20px;
    font: 1.2em , serif;
    border: 6mm
    color: black;
    margin: 30px;
    font-family: 'Sigmar One';
    font-variant: small-caps;
    font-size: large;
  }

  .login-header h1 {
    color: black;
    font-weight: bold;
    margin: 0;
    font-family: inherit;
  }

  .email-container {
    padding: 20px;
  }

  .signup-container {
    color: black;
    margin: 10px;
    padding: inherit;
  }

  .email-form {
    color: black;
  }

  .login_btn{
    color: black;
    font-weight: bold 00;
    margin: auto;
    padding: 4px;

  }
  [type=submit] {
    background-color: black;
    border: none;
    padding: 10px 23px;
    text-decoration: none;
    margin: 6px 2px;
    cursor: pointer;
  }

  [type=text] {
    background-color: #ffffff;
    border-bottom: 1px solid black;
    border-style: hidden hidden inset hidden;
    font-size: large;
  }

  [type=password] {
    background-color: #ffffff;
    border-bottom: 1px solid black;
    border-style: hidden hidden inset hidden;
    font-size: large;
  }


  [type=Submit] {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 23px;
    text-decoration: none;
    margin: 6px 2px;
    cursor: pointer;
    font-family: 'web-font';
    font-variant: small-caps;

  }
