h5{
  color: black;
  margin: 0;
  padding: 30px 20px;
  font-family: 'Sigmar One';
  font-variant: small-caps;
  font-size: large;
  width:250px;
  border-style: solid;
}

body {
  background-color: white; ;
  background-image: url("../images/background29.jpg");
  background-size: cover;
  font-family: 'Sigmar One';
  font-variant: small-caps;
}

/* .parallax{
  background-image: url("../images/background29.jpg");
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-weight: 500;
  margin: 0;
  padding: 1px 60px;
  font-family: 'Sigmar One';
  font-variant: small-caps;
  font-size: large;
  margin: 0 auto;
  background-color: black;
} */

.breadcrumb {
  font-family: 'Sigmar One';
  font-variant: small-caps;
  font-size: large;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
