 body {
  background-color: azure;
  margin: 0 auto;
  max-width: 600px;
  background-image: url("../images/background17.jpg");
  background-size: cover;
  font: 1.2em "web-font", serif;
}

form {
  margin: 0 auto;
  width:250px;
  }

.signup-container{
  
}
